ul{
    list-style-type: none;
}
.caret{
    cursor: pointer;
    user-select: none;
}
.caret:before{
    content:'\25B6';
    margin-right:5px; 
    display:inline-block;
}
.nested{
    display:none; 
}
.active{
    display:block;
}
.caretDown:before{
    transform:rotate(90deg);
}